language: java
jdk: openjdk10
sudo: false

script:
  - mvn clean package -DskipTests

cache:
  directories:
  - "$HOME/.m2"

#before_deploy:
  # Set up git user name and tag this commit
  #- git config --local user.name "travis ci user"
  #- git config --local user.email "travis@test.com"
  #- export TRAVIS_TAG=${TRAVIS_TAG:-$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)}
  #- git tag $TRAVIS_TAG    
  #- git push origin --tags
  
deploy:
  provider: releases
  api_key:
    secure: g22TpZCzaRM/PLoGrNZ5M8QSdd4GtTIzEv0qgCS0tBojHC/W3oi1J/p/MDKyDt3R6ZEjxvmytZYYkYS1OUrDSekQeclyyW8/X4bSgTHhgCyXTsrZbZ9Gfg5Rbe4eJeFyM4WFEQG6oO0Yc8010hvArvN3uObELxuFHt3ULtedKDNe0tm1ERwzA5jD/BFq43jvfgNZH9DYm7bv39A9ipCN2M26Xq/y0uxqhWXJLfO3wfqtRd23LH1CgyQ/lP8sVcdZO39xNIkAcM+jakzd/pm2LnnI5uVO5y3GSRQPLw5pOEcbPrnRhZgvVdk1fRO6Q/H6K75ZCSUvseuzE15TkmYAEjFUpHw4jiLQZpB7apD1LEAQtXGJ+zrlLvNT4yrPaM3bNEVmLt6U25L7/J0a3oWAOFSXa9NbSEHpVRglaX87lTCqiiy9Q1iEFlPR2IkPDM421JJn4Cew/oKKLX2CVp/zA+auaevwHgD43bLgcbccgt6GZvcyhQPKaJmts4Mjkd8XcoQcE4LSXVkY+lcVwEb05y6RYQ80pUzDFOMYdqUB7U/a0nWqJJydS8QtjxFFFy/8CKXGK28iDlvGVwuQIhOtRQBWcknzF2wwM8iEsYIhdDesj53r8ent/R7G4hDU2SGeWOMpyCcwobvYU4ykCOwCDFoUVtzuNkw9pN9YQSvjReY=
  file: target/java-project-1.0-SNAPSHOT-shaded.jar
  on:
    draft: true

after_deploy: "echo 'Deployed to Github successfully !'"
